<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    
    <h2 class="mx-3 mt-5 text-center textBold">Update unit cost</h2>
    <div class="d-flex flex-column">
      <label for='water cost unit'>Enter new unit cost of the water: </label>
      <input class="form-control" name="waterUnitCost" type="text" title="Enter water unit cost" [(ngModel)]="waterUnitCost"  [value]="waterUnitCost">
     
        <button type="button" class="btn btn-outline-secondary btn-lg mx-3 float-end my-3  textBold" (click)="updateWaterUnitCost()">Update</button>
  
    </div>
   
    <div class="d-flex flex-column">
      <label for='water cost unit'>Enter new unit cost of the electricity: </label>
      <input class="form-control"  name="electricityUnitCost" type="text" title="Enter water unit cost" [(ngModel)]="electricityUnitCost" [value]="electricityUnitCost">
      <button type="button" class="btn btn-outline-secondary btn-lg mx-3 float-end my-3 textBold" (click)="updateElectricityUnitCost()">Update</button>
    </div>
        
</body>
</html>
