<html>
    <body>
<h1>My Profile</h1>
<div class="container">
    <h3><b>Personal Information</b></h3>
 
        <div class="row">
            <div class="label-input-pair">
              <label for='name'> First Name </label>
              <input  placeholder="first name"  name="firstname" type="text"  title="Enter first name" />
            </div>
           <div class="label-input-pair">
              <label for='name'> Last Name </label>
              <input  placeholder="last name"  name="lastname" type="text"   title="Enter last name"/>
           </div>
        </div>
        <div class="row">
            <div class="label-input-pair">
              <label for='email'> Email Address  </label>
              <input  placeholder="email address"  name="email address" type="email"  title="Enter email address" />
            </div>
           <div class="label-input-pair">
             <label for='phone'> Phone </label>
             <input  placeholder="phone"  name="phone" type="number"   title="Enter phone number"/></div>
           </div>
        </div>
        <div class="container">
        <h3><b>Address</b></h3>
        <div class="row">
            <div class="label-input-pair">
        <label for='country'> Country </label>
        <input  placeholder="country"  name="firstname" type="text"  title="Enter your country" />
    </div>
    <div class="label-input-pair">
        <label for='city'> City </label>
         <input  placeholder="city"  name="city" type="text"   title="Enter your city"/>
        </div>
        </div>
        <div class="row">
            <div class="label-input-pair">
        <label for='postal code'>Postal Code  </label>
        <input  placeholder="postal code"  name="postal code" type="number"  title="Enter your postal code" />
        </div>
        </div>
    </div>
    
</body>
</html>