<!DOCTYPE html>
<html>

<head>
    <title>Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Oops! Page Not Found</h1>
            <p class="lead">The requested page could not be found.</p>
            <hr class="my-4">
            <p>Please check the URL and try again.</p>
            <a class="btn btn-primary btn-lg" routerLink="/userProfile" role="button">Go back to homepage</a>
        </div>
    </div>
</body>

</html>