<!DOCTYPE html>
<html>
<head>
	<title>Vertical Navbar Example</title>
</head>
<body>
    <div class="container" *ngIf="userType ==='user'">
        <div class="Sys-flex">
            <div class="Sys-margin">
                <h1>InSys</h1>
            </div>
            <div class="">
              <button id="log"><img class="logImg" [src]="logoutIcon" alt=""></button>
            </div>
        </div> 
        <div>
          <button><img class="userImg" [src]="userIcon" alt="">Profile</button>
        </div>
        <div class="">
            <button>Pending Payments</button>
          </div>
        <div class="">
          <button>Payment History</button>
        </div>
    </div>
    <div class="container" *ngIf="userType ==='admin'">
      <div class="Sys-flex">
          <div class="Sys-margin">
              <h1>InSys</h1>
          </div>
          <div class="">
              <button id="log"><img class="logImg" [src]="logoutIcon" alt=""></button>
          </div>
      </div> 
      <div>
        <button><img class="userImg" [src]="userIcon" alt="">Profile</button>
      </div>
      <div class="">
          <button>Clients</button>
        </div>
      <div class="">
        <button>Invoices</button>
      </div>
      <div class="">
          <button>Update Unit Costs</button>
        </div>
  </div>
</body>
</html>